/*Inizio common*/
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
/*Fine common*/

/*Inizio header*/
/*Inizio impostazioni generali sezione*/
header{
    height: 70px;
    width: 100%;
    background-color: rgb(38, 71, 216)
}

header .container{
    height: 70px;
    margin: auto;
    width: 80%;
    max-width: 1180px;
}

.row{
    height: 70px;
    line-height: 70px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}
/*Fine impostazioni generali sezione*/

/*Inizio logo*/
header .container .logo{
    float: left;
    line-height: 70px;
    width: 15%;
}

.logo-img{
    vertical-align: middle;
    line-height: 70px;
}
/*Fine logo*/

/*Inizio nav*/
nav{
    float: left;
    width: 70%;
    text-align: center;
}

header .container .row nav ul li{
    display: inline-block;
    padding: 0 30px;
}

header .container .row nav ul li a{
    color: white;
    text-decoration: none;
}
/*Fine nav*/

/*Inizio Login*/
.login-link{
    display: inline;
    color: black;
    text-decoration: none;
    border: solid black 1px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
}

.login{
    width: 15%;
    float: right;
    text-align: center;
}
/*FineLogin*/
/*Fine header*/

/*Inizio jumbotron*/
#jumbotron{
    position: relative;
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

.jumbo-content{
    position: absolute;
    width: 40%;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo-title{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 40px;
}

.jumbo-par{
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}

.download{
    display: inline-block;
    margin-top: 30px;
    background-color: white;
    padding: 16px 32px;
    border-radius: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.fas{
    margin-right: 10px;
}
.browser{
    display: inline-block;
    margin-top: 30px;
    background-color:black;
    padding: 16px 32px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.jumbo-btn{
    position: relative;
    text-align: center;
}
/*Fine jumbotron*/